.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Content {
  translate: -200px
}

body {
  margin: 0;
  padding-left: 0;
  background-color: #D4F4FF;
}

.Sidebar {
  width: 400px;
  height: 100%;
  background-color: #2F4050;
  position: fixed;
  right: 0;
}

.SidebarList {
  padding: 20px;
  margin: 0;
  list-style: none;
}

.SidebarList .SidebarRow {
  padding: 0;
  margin: 0;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 500;
}

.SidebarList .SidebarRow:hover {
  cursor: pointer;
  background-color: #293846;
}

.Contact {
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  border: 1px solid black;
  text-align: center;
}

.ContactList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ContactList .ContactRow {
  margin: 0;
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 110px;
}

.ContactList .ContactRow:hover {
  cursor: pointer;
  background-color: #293846;
}

.AboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutMeDesc {
  font-size: 20px;
  width: 900px;
}

.WIK {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.WIKContent {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.WIKSection {
  display: flex;
  flex-direction: column;
  width: 300px;
  
}

.WIKHeading {
  height: 60px;
}

.WIKHeading:hover {
  cursor: pointer;
  background-color: #5A9EDE;
}

.WIKList {
  margin: 0;
  padding: 0;
  font-size: 19px; 
  list-style: none;
}

.ProjectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProjectTitle {
  height: 60px;
  width: 800px;
}

.ProjectTitle:hover {
  cursor: pointer;
  background-color: #5A9EDE;
}

.ProjectContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProjectDesc {
  font-size: 18px;
  width: 900px;
}