.App {
  text-align: left;
  padding-left: 50px;
}

.ul {
  margin: 0;
}

.SLang {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.PLang {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.Tools {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.WhatIKnow {
  display: flex;
  flex-direction: row;
}